/* *, *:visited, *:hover, *:active {
  background-color: #000 !important;
  color: #000 !important;
  border: none !important;
}

img {
  opacity: 0 !important;
} */

body {
  font-family: sans-serif;
  background-color: #000000de;
  color: #ffc700;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  width: 100%;
  line-height: 1.3;
}

main img {
  border-radius: 50%;
}

.nav-link {
  text-decoration: none;
}

main {
  padding-top: 130px;
}

main, footer {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

header {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 15px 20px;
  position: fixed;
  background-color: #000000de;
  border-bottom: 1px solid #eae5df;
}

header nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #00bcd4;
}

header ul {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  margin-right: 20px;
}

header li {
  display: flex;
}

header li a {
  padding: 20px;
  color: #eae5df;
  font-weight: bold;
}

header li a:visited {
  color: #00bcd4;
}

header li a:hover, header li a:active {
  color: #ffc700;
}

h3 {
  color: #00bcd4;
  font-weight: bold;
  font-size: 1.5rem;
}

main section {
  display: block;
  padding: 15px 0;
}
/* main section p {
  display: inline-block;
} */

main section .bio {
  max-width: 500px;
  /* display: inline-block; */
  margin-left: 20px;
}

main section p img {
  float: left;
}

main section a {
  color: #ffc700;
}

main section a:visited {
  color: #00bcd4;
}

main section h3 a {
  color: #00bcd4;
}

main section ul {
  margin: 10px 0;
  padding-left: 15px;
}

main section li {
  margin-bottom: 8px;
  color: #eae5df;
  list-style-type: "\2620";
}

main section li a,
main section li .no-link {
  text-decoration: none;
  margin-left: 8px;
}

main section li a:hover {
  text-decoration: underline;
}

/* main section li a::before {
  content: " ";
} */